{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
			<div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <tr>
              <th>Gym Address</th>
              <td>15 Akwa-Efak Street, Uyo, Akwa Ibom State</td>
            </tr>
            <tr>
              <th>Mobile Number</th>
              <td>+234(0)123456789</td>
            </tr>
            <tr>
              <th>Email</th>
              <td><a href="mailto:viikreigns@gmail.com">gym@gmail.com</a></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d349572.8365207268!2d7.993771970423198!3d4.865029555953251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1704041658815!5m2!1sen!2sng" width="500" height="350" style="border:2;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}