{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    .marked{
        display: none;
    }
</style>
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<div class="row">
                <div class="col-3">
                    {% include 'user/left_sidebar.html' %}
                </div>
                <div class="col-9">
                    <h3 class="mb-4 border-bottom pb-1">Notifications <span class="badge bg-primary totalunread"></span></h3>
                    <span class="ajaxRes"></span>
                    <ul class="list-group notification-list">
                        loading...
                    </ul>
                </div>
            </div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
<script type="text/javascript">
    $(document).ready(function(){
        $(".ajaxRes").hide();
        setInterval(function(){
            $.ajax({
                url:"{% url 'get_notification' %}",
                dataType:'json',
                beforeSend:function(){
                    $(".ajaxRes").show();
                    $(".ajaxRes").text("loading...");
                },
                success:function(res){
                    _html='';
                    $(".totalunread").text(res.TotalUnread)
                    $.each(res.data,function(index,d){
                        if(d.notifStatus==true){
                            _html+='<li class="list-group-item list'+d.pk+'">'+d.notification_detail+'<button data-index="'+d.pk+'" data-notification="'+d.pk+'" class="btn btn-sm btn-secondary float-end markreadbtn markreadbtn'+d.pk+'"" style="display:none;">MarkRead</button><button class="float-end btn btn-success btn-sm marked'+d.pk+'"><i class="bi bi-check2-square"></i></button></li>';
                        }else{
                            _html+='<li class="list-group-item bg-light list'+d.pk+'">'+d.notification_detail+'<button data-index="'+d.pk+'" data-notification="'+d.pk+'" class="btn btn-sm btn-secondary float-end markreadbtn markreadbtn'+d.pk+'"">MarkRead</button><button class="float-end btn btn-success btn-sm marked marked'+d.pk+'"><i class="bi bi-check2-square"></i></button></li>';
                        }
                    });
                    $(".notification-list").html(_html);
                    $(".ajaxRes").hide();
                }
            });
        },5000);

        //Mark as read section
        $(document).on("click",".markreadbtn",function(){
            var _index=$(this).attr('data-index');
            var _notif=$(this).attr('data-notification');

            $.ajax({
                url:"{% url 'mark_read_notification' %}",
                data:{
                    notif:_notif
                },
                dataType:'json',
                beforeSend:function(){
                    
                },
                success:function(res){
                    if(res.bool==true){
                        $(".list"+_index).removeClass('bg-light');
                        $(".markreadbtn"+_index).hide();
                        $(".marked"+_index).show();
                    }
                }
            });

        });
        //end

    });
</script>

{% endblock %}